extends layout

block content
  .page-header
    h1 Dashboard
    p.lead Welcome, #{user.profile.name}
    hr
    .row
      .col-sm-6
        img(src='#{user.profile.picture}')
      .col-sm-6
        p How safe do you currently feel
        div Insert slider here
      .col-sm-6
        p #{user.profile}
      .col-sm-6
        p.lead Here are a few resources to help you navigate your surroudings today.
        p Safe pods can be found here

        <p id="message"></p>