extends ../layout

block content
  h2 Our Mission
  hr
  p Locale helps you feel safer when you walk through the city. Using data from both <a href="https://www.safecity.in"> SafeCity </a> and our users, we create a heat map of where previous incidents have occured. This way, you are armed with the knowledge to make the safest decisions for yourself when choosing which routes to take. 

  p Locale also keeps track of your location data. By mapping your journey throughout an area, you provide your community with even more data about its surroundings, thus allowing future residents to make even better informed decisions for themselves. 

  h3 Future Plans

  p If we had more time, these are the features we would implement: 
  ul
    li Add features that allow you to see what your friends and acquantainces have said about locations they have been to.
    li Alert you about resources (such as a police station or a friend's home) around you as you are walking through a darker colored region.

